*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: verdana;
}

body{
  background-color: #e2e2e2;
  font-size: .9em;}
.bg{
  background-color: #000;
  opacity: .7;
  width: 5000%;
  height: 400vh;
  position: fixed;
  top:0;
  display: none;
  left:0;
  z-index: 2;
}
.modalFrmEmployee{
  background-color: #fff;
  padding: 20px;
  position: absolute;
  width: 700px;
  transform:translate(-50%, -50%);
  left:50%;
  top:50%;
  display: none;
  z-index: 3;
}

.block{
  max-width: 1000px;
  margin:30px auto;
  padding: 20px;
  background-color:#fff;
}

.button{
  background-color: green;
  color:#fff;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 20px;
  text-decoration: none;
  border-radius:4px;
  border: 0;
}
/* FORMULARIOS */
.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="tel"],
.form input[type="date"],
.form input[type="time"],
.form input[type="number"],
.form select,
.form textarea{
	width: 100%;
	margin: 0 0 10px;
	border: 0;
	padding: 5px 6px;
	font-size: .9em;
	border:1px solid #cecece;
	border-radius:5px;
	max-width:100%;
	min-width:100%;
}
.form label{
    display:block;
}

/* TABLES */
.tables{
	border-spacing: 0;
	width: 100%;
	text-align: left;
	clear: both;
  max-width: none!important;
	border-collapse: separate!important;
}
.tables th{
	padding: 8px;
	font-size:.8em;
	color: #333;
	background-color:#f3f3f3;
	text-align: center;
}
.tables td{
	padding: .75rem;
	color: #575962;
	vertical-align: middle;
	font-size: .8em;
	border-bottom: 1px solid #f6f6f6;
}
.tables td a{
	color:#2196F3;
}
.tables tr:hover td{
	background: #ececec;
	color: #339;
	opacity:1;
}
.tables tfoot tr:last-child td{
	border-bottom:0;
	background-color:#f3f3f3;
	font-weight:bold;
}


